@import "style.css";

#skill {

    display: flex;
    width: 100%;
    height: 40rem;

}

.skill-div1 {
    width: 30%;

}

.timeline {
    border: 2px solid var(--color-neutral5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 95%;


    z-index: -1;
    background-color: var(--color-neutral5);
}

.icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 3rem;
    margin-top: 1rem;

}

.icons>svg {
    color: var(--color-neutral4);
    background-color: var(--color-neutral1);
}

.skill-div2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.skillbox {
    background-color: var(--color-neutral4);
    border-radius: 3rem;
    padding: 3rem;
    margin: 0.8rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 1rem;
    word-spacing: 0.4rem;
}

.skillbox>h2 {
    color: var(--color-neutral1);
}

.skillbox>small {
    color: var(--color-neutral1);
}

@media (min-width:0px) and (max-width:396px) {
    #skill {
        flex-direction: column;
    }

    .skillbox {
        margin-left: 4rem;
        padding: 1rem;
    }

    .skill-div2 {
        position: absolute;
    }
    .skill-div1{
        min-height: 34rem;
        max-width: 3rem;
    }

    .timeline {
        justify-content: left;
    }

    .timeline::before {
        content: "";
        height: 0;
        width: 0;
    }

    .timeline::after {
        content: "";
        height: 0;
        width: 0;
    }
}