@import "style.css";

#project {
    padding: 7rem 0;
    margin-top: 7rem;
}

#project>h2 {
    padding: 2rem 0;
    text-align: center;
    letter-spacing: 0.5rem;
    word-spacing: 0.5rem;
    line-height: 2rem;
    color: var(--color-neutraltext);

    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 1rem;
    font-style: normal;
    
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.svg-div {
    grid-column: 1 /2;
    grid-row: 1/3;
    margin-left: 1.1rem;
}

.svg-div>svg {
    /* color: goldenrod; */
    background: linear-gradient(to left, var(--color-neutraltext), var(--color-neutral4));
    --webkit-text-fill-color: transparent;
    --webkit-background-clip: text;
    padding: 1rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    animation: rotate 1s infinite;
    animation-timing-function: linear;

}

.svg-div>svg:hover {
    animation: rotate 1s;
}

@keyframes rotate {

    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(360deg);
    }

}

.project-div {
    border-radius: 3rem;
    min-height: 23rem;
    width: 90%;
    border: 3px solid var(--color-neutraltext);
    cursor: pointer;
    display: grid;
    place-items: center;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;

    user-select: none;
    margin-bottom: 0.4rem;
}

.text-section {

    height: 100%;
    grid-column: 2 /3;
    grid-row: 1/3;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.text-section>span {
    text-align: center;
    color: var(--color-neutraltext);
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
    margin: 1rem;
}

.text-section>p {
    color: var(--color-neutral4);
    margin: 0 1rem;
    text-align: center;
    letter-spacing: 0.1rem;
    word-spacing: 0.5rem;
}

.text-section>button {
    margin-top: 1rem;
    background-color: var(--color-neutral4);
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.7rem;
    color: var(--color-neutral5);
}

.text-section>button:hover {
    margin-top: 1.1rem;
    box-shadow: var(--color-neutral5) 0px 1px 1px;
}

@media (min-width:0px) and (max-width:1025px) {
    .project-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }
}
